body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: #fdfdfd;
}

#controls {
  margin: 10px;
}

canvas {
  background: #fff;
  border: 1px solid #ccc;
}

button {
  margin: 5px;
  padding: 8px 12px;
}
