body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: black;
  color: white;
}
input, button {
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
}
button:hover {
  background-color: #333;
}
input:focus, button:focus {
  border-color: white;
}
button.light {
  color: #fc3;
}
button.light:focus {
  border-color: #fc3;
}
button.sound {
  color: #39f;
}
button.sound:focus {
  border-color: #39f;
}
button.scene {
  color: #b4f;
}
button.scene:focus {
  border-color: #c3f;
}
#status {
  margin-top: 20px;
  font-weight: bold;
}
#status.success {
  color: #0f0;
}
#status.error {
  color: #f00;
}
#potValue {
  margin-top: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 20px;
}
.grid button {
  padding: 10px;
  margin: 0;
.blink {
  animation: blink 1s infinite;
}
@keyframes blink {
  50% { opacity: 0; }
}
